@model IEnumerable<ControlWeb.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFacultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFacultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstudiante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstudiante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstudiante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
