@model IEnumerable<ControlWeb.Models.Academico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFacultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrganizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rfc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFacultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrganizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rfc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAcademico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAcademico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAcademico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
